name: Documentation
on:
  push:
    paths-ignore:
      - 'docs/**'
    tags:
      - '*'
    branches:
      - development
      - dev
      - '*-docs'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v1
      -
        name: Install Lua
        uses: leafo/gh-actions-lua@v3
      -
        name: Install Luarocks
        uses: leafo/gh-actions-luarocks@v2
      -
        name: Install Dependencies
        run: |
          luarocks install luafilesystem
          luarocks install penlight
          luarocks install markdown
          luarocks install argparse
          luarocks install ldoc
      -
        name: Build
        run: ldoc -M -c ./config.ld -t 'Photon Lighting Documentation' -d ./docs ./lua
      -
        name: Upload
        uses: actions/upload-artifact@v1.0.0
        with:
          name: docs
          path: ./docs
      -
        name: Commit
        uses: EndBug/add-and-commit@v2.1.0
        with:
          author_name: Documentation Generator
          author_email: docs@photon.lighting
          message: "Updated Documentation"
          path: "./docs"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
